.login-button {
    position:relative;
    left:25%;
    top:40px
}

.message{
    position:relative;
    left:10px;
    color: red;
}

.wrapperClass{
    margin: 100px 700px;
    align-self: center;
    height:700px;
}

.error-message{
    top:20px;
    left:25%;
    height:40px;
    align-content:center;
}

.password-wrapper{
    position:relative;
    top:1px
}