.login-button {
    position:relative;
    left:25%;
    top:30px
}

.message{
    position:relative;
    left:10px;
    color: red;
}

.wrapperClass{
    margin: 100px 700px;
    align-self: center;
    height:700px;
}

.error-message{
    position:relative;
    top:10px;
    left:10px;
    color: red;
}

.password-wrapper{
    position:relative;
    top:1px
}