/*用来控制整个工程的全局属性*/

.message{
    position:relative;
    left:0px;
    color: red;
}

.wrapperClass{
    margin: 100px 700px;
    align-self: center;
    height:700px;
}

.error-message{
    position:relative;
    top:10px;
    left:0px;
    color: red;
}

.password-wrapper{
    position:relative;
    top:1px
}

body{
    background: url("../src/assets/img/login/login.jpeg") no-repeat fixed;
}